@font-face {
  font-family: 'proxima-semibold';
  src: url("/assets/ProximaNova-Semibold") format("truetype");
}
@font-face {
  font-family: 'proxima-regular';
  src: url("/assets/ProximaNova-Regular") format("truetype");
}
@font-face {
  font-family: 'proxima-light';
  src: url("/assets/ProximaNovaCond-Light") format("truetype");
}
@font-face {
  font-family: 'proxima-black';
  src: url("/assets/ProximaNova-Black") format("truetype");
}
