/* line 5, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
header::after {
  content: '';
  display: table;
  clear: both;
}

/* line 11, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
header {
  background: #c56466;
  height: 104px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* line 17, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
header .logo {
  float: left;
  position: relative;
  top: 35px;
  font-size: 27px;
  color: #ebb154;
  font-family: 'proxima-black';
  width: 38px;
}
/* line 27, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
header .navibar {
  top: 0px;
  z-index: 1;
  width: 100%;
  flex-direction: row;
  margin: 0 auto;
  border-left: 1px solid #ebb154;
}
/* line 34, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
header .navibar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-left: 44px;
  position: relative;
  top: 35px;
  padding-left: 15px;
}
/* line 43, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
header .navibar ul li {
  display: inline-block;
  font-size: 21px;
  padding-left: 20px;
  color: #ebb154;
}

/* line 53, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.main-nav {
  margin-right: 40px;
  position: relative;
  top: 18px;
  border-left: 1px solid #ebb154;
  padding-left: 22px;
}
/* line 59, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.main-nav .signup {
  border: 2px solid #ebb154;
  border-radius: 3px;
  padding: 3px;
  margin-left: 11px;
  font-size: 21px;
}

/* line 68, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.relevance {
  display: none;
}
/* line 70, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.relevance .logo {
  width: 38px;
  position: relative;
  top: 23px;
}
/* line 75, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.relevance .filter {
  width: 90%;
  margin: 0 auto;
  margin-left: 64px;
}
/* line 79, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.relevance .filter ul {
  width: 50%;
  margin: 0 auto;
}
/* line 82, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.relevance .filter ul li {
  display: inline-block;
  margin-left: 68px;
  color: #ebb154;
}

/* line 91, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 29px !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ebb154;
  position: relative;
  top: 1px;
}

/* line 103, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.share-on {
  position: relative;
  left: 5px;
  font-size: 14px !important;
  color: #ebb154 !important;
  bottom: 4px;
}

/* line 111, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.social {
  margin-left: 20px;
}

/* line 115, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.filter {
  width: 100%;
  position: relative;
  bottom: 16px;
  text-transform: uppercase;
}

/* line 122, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.select-filter {
  width: 238px;
  border-radius: 0;
  height: 45px;
}
/* line 126, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.select-filter option {
  background: red;
}

/* line 131, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.title {
  font-size: 20px;
}

/* line 135, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.read-more {
  color: red;
}

/* line 143, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
#film_roll {
  position: relative;
  width: 100%;
  height: 128px !important;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* line 153, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.film_roll_child {
  width: 200px !important;
  position: relative !important;
  bottom: 84px !important;
  padding-left: 1px;
  padding-right: 1px;
}

/* line 161, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.share {
  top: -2px;
  height: 35px;
  position: relative;
  /* bottom: 6px; */
  margin-bottom: 6px;
}
/* line 167, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.share .add-photo {
  height: 30px !important;
  width: 55%;
  font-size: 12px;
}
/* line 171, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.share .add-photo span {
  position: relative;
  /* left: -2px; */
  bottom: 3px;
  right: 7px;
}
/* line 178, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.share .share-btn {
  height: 30px !important;
  width: 40%;
  font-size: 12px;
}
/* line 183, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.share h4 {
  font-size: 21px;
  margin-top: 6px;
  margin-bottom: 10px;
  position: relative;
  top: 3px;
}

/* line 192, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.add-photo-btn-group {
  float: right;
}

/* line 196, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.add {
  font-size: 18px !important;
  margin-right: 11px;
  top: -1px;
}

/* line 202, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.share-icon {
  font-size: 17px !important;
  margin-left: 6px;
  top: -1px;
}

/* line 208, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.share-text {
  position: relative;
  bottom: 3px;
}

/* line 213, /home/ubuntu/workspace/nelp/app/assets/stylesheets/nav.scss */
.main-nav li a {
  color: #ebb154;
  text-decoration: none;
}
