/* line 7, /home/ubuntu/workspace/nelp/app/assets/stylesheets/place_information.scss */
.place-information {
  width: 100%;
  position: relative;
  top: 126px;
  border: 1px solid #dedede;
  height: auto;
  display: table;
  margin-bottom: 147px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.33);
}
/* line 20, /home/ubuntu/workspace/nelp/app/assets/stylesheets/place_information.scss */
.place-information .place-name {
  margin-top: 20px;
  font-family: 'proxima-black';
  color: #3e3e3e;
}
/* line 25, /home/ubuntu/workspace/nelp/app/assets/stylesheets/place_information.scss */
.place-information span {
  font-family: 'proxima-light';
  color: #4e4e4e;
}
/* line 29, /home/ubuntu/workspace/nelp/app/assets/stylesheets/place_information.scss */
.place-information .price-range {
  font-size: 23px;
  color: #03a003;
  font-family: 'proxima-semibold';
  margin-top: 15px;
}
/* line 35, /home/ubuntu/workspace/nelp/app/assets/stylesheets/place_information.scss */
.place-information #map {
  height: 100px;
  width: 100px;
  float: right;
  position: relative;
  bottom: 50px;
  clear: both;
  content: '';
  display: table;
  border-radius: 5px;
  bottom: 198px;
}
/* line 46, /home/ubuntu/workspace/nelp/app/assets/stylesheets/place_information.scss */
.place-information #map div:nth-child(2) {
  display: none;
}
/* line 50, /home/ubuntu/workspace/nelp/app/assets/stylesheets/place_information.scss */
.place-information p {
  width: 70%;
  font-family: 'proxima-regular';
  font-size: 18px;
  color: #4e4e4e;
}
