/* line 1, /home/ubuntu/workspace/nelp/app/assets/stylesheets/test.scss */
.modal-header {
  border-bottom: none;
}

/* line 5, /home/ubuntu/workspace/nelp/app/assets/stylesheets/test.scss */
.reviewModal {
  height: auto;
}

/* line 9, /home/ubuntu/workspace/nelp/app/assets/stylesheets/test.scss */
.form-outter textarea {
  height: 300px;
}

/* line 13, /home/ubuntu/workspace/nelp/app/assets/stylesheets/test.scss */
.booyah-box {
  background: #f1f1f1;
  /* padding-top: 203px; */
  padding: 30px;
  position: relative;
  top: 186px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
