<!--<div id="map"></div>-->
      
<!--<script>-->
<!--  <% if @place.latitude.present? && @place.longitude.present? %>-->
<!--      function initMap() {-->
<!--        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};-->
  
<!--        var map = new google.maps.Map(document.getElementById('map'), {-->
<!--          zoom: 14,-->
<!--          center: myLatLng-->
<!--        });-->
  
<!--        var marker = new google.maps.Marker({-->
<!--          position: myLatLng,-->
<!--          map: map,-->
<!--          title: 'Hello World!'-->
<!--        });-->
<!--      }-->
<!--</script>-->
        
<!--<script async defer-->
<!--  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLrf0ZfVCi7f_y9R2ZGzUuGDzz0AL3iHQ&callback=initMap">-->
<!--</script>-->
<!--  <% end %>-->