<% if place.tally != nil %>
  <span class='score'>
      <%= puts "This is #{place.id}" %>
      <span class='score-value' data-score="<%= place.id %>"><%= place.tally.percent %><i class="fa fa-percent"></i></span>
  </span>
<% end %>
