<% if place.tally != nil %>
  <span class='score'>

     <!-- <span class="total-score"></span> -->
     <span class='score-value' data-score="<%= place.id %>"><%= place.tally.percent %>%<br><span class='total-score'>Vote count: <%= place.tally.score %></span></span>
  </span>
<% end %>
