@font-face {
    font-family: 'proxima-black';
    src: url('/assets/ProximaNova-Black') format("truetype");
}

@font-face {
    font-family: 'proxima-regular';
    src: url('/assets/ProximaNova-Regular') format("truetype");
}