[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    position: relative;
    top: 3px;
    margin-right: 6px;
}

.boolean {
    display: inline-block;
    margin-bottom: .5rem;
    position: relative;
    left: 5%;
    color: #f45758;
    font-size: 11px;
}

.login-btn {
    border-radius: 44px !important;
    padding: 10px 20px !important;
    background-color: #f45758 !important;
    border: 1px solid #f45758 !important;
    margin: 0 auto;
    display: block !important;
    /* margin-left: 7%; */
    margin: 0 auto;
}

.signup-link {
    display: block;
    font-size: 12px;
    margin-top: 6px;
    color: #4A6577;
    text-align: center;
}

.forgot-password {
    font-size: 11px;
    margin-left: 10%;
    color: #afafaf;
    margin: 0 auto;
    display: block;
    width: 94%;
    text-align: center;
}