@import "bootstrap";
@import "font-awesome";

* {
  font-family: 'proxima-regular';
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.clear {
    clear: both;
}

.alert-info {
    background-color: #efefef;
    border-color: #efefef;
    color: #452a4c;
    position: relative;
    top: 102px;
    z-index: 1;
    border-radius: 0;
}