header {
    // width: 90%;
    //  padding-top: 20px;
    background: #5a4390;
    height: 30px;
}

.navbar {
    background: transparent;
}

// .bg {
//     background-image: url(hero.png);
//     height: 63vh;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: 100%;
//     width: 100%;
//     // margin-top: 54px;
//     .action-content {
//         width: 30%;
//         position: relative;
//         top: 41px;
//         left: 10%;
//         min-width: 334px;
//     }
//     h1 {
//         font-family: 'Archivo Black', sans-serif;
//         font-size: 76px;
//         color: #fdcb6e;
//         margin-bottom: 10px;
//     }
//     p {
//         color: #fdcb6e;
//         margin-bottom: 20px;
//     }
// }


// button {
//     display: inline-block;
//     padding: 0.35em 1.2em;
//     border: 0.1em solid #FFFFFF;
//     margin: 0 0.3em 0.3em 0;
//     border-radius: 0.12em;
//     box-sizing: border-box;
//     text-decoration: none;
//     font-family:'Roboto',sans-serif;
//     font-weight: 900;
//     color: #cc6869;
//     text-align: center;
//     transition: all 0.2s;
// }