header {
    background: #5a4390;
    height: 30px;
}

.navbar {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    background: #de716c;
    .navbar-brand {
        color: #fff;
    }
}