$form-label-color: #4a6577;
$vibrant-base-red: #f04c4e;
$heading-dark-blue: #394e5d;
$med-heading-border-bottom: #f09a9d;
$white-font-color: #444;
$grey-border: rgba(0, 0, 0, .15);
$form-placeholder: #939393;
$white-background-color: #fff;
$transparent-outter-splash: rgba(255, 255, 255, .56);

.places-items {
  background-color: #fff;
  height: auto;
  .place-item {
//     padding: 25px 25px 0 25px;
    border-bottom: 1px solid #dedede;
    h3 {
      font-size: 16px;
      padding: 5px 0 17px 0;
      a {
        color: $heading-dark-blue;
      }
    }
    p {
      font-size: 13px;
      color: #313131;
    }
  }
}

.place-inner {
  padding: 20px 20px 0 20px;
}

.score-btn {
  border: 1px solid #f04c4e;
  padding: 5px;
  background: #f04c4e;
  border-radius: 2px;
  margin-left: 10px;
  color: #fff;
}


.place-status {
  width: 100%;
  padding-bottom: 12px;
  .score {
    float: right;
    font-size: 14px;
  }
  .range {
    color: green;
  }
}


.recommend {
  border-top: 1px solid #dedede;
  border-bottom: 3px solid #c3c3c3;
  padding: 10px 0 0 20px;
  p {
    position: relative;
    top: 3px;
  }
}


.search-bar {

  ul {
    width: 80%;
    margin: 0 auto;
    li {
      display: inline;
    }
  }
}
