#map {
    height: 100px;
    width: 100px;
    float: right;
    position: relative;
    bottom: 50px;
    clear: both;
    content: '';
    display: table;
    border-radius: 5px;
}

#map div:nth-child(2) {
    display: none;
}

.place-information {
    width: 100%;
    position: relative;
    top: 126px;
    border: 1px solid #dedede;
    height: auto;
    display: table;
    margin-bottom: 147px;
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 7px 10px 5px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 7px 10px 5px -6px rgba(0,0,0,0.33);
    box-shadow: 7px 10px 5px -6px rgba(0,0,0,0.33);
    h1 {
        margin-top: 20px;
    }
    p {
        // width: 80%;
    }
}

// img {
//     width: 100%;
// }

.places-images {
    height: auto;
    margin-bottom: 147px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.33);
    width: 100%;
    border: 1px solid #dedede;
    padding-top: 10px;
    img {
        width: 100%;
    }
}

.film_roll_prev, .film_roll_next {
    position: absolute;
    top: 21% !important;
    left: 15px;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 0;
    padding: 0;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: white;
    text-align: center;
    background: #222;
    border: 3px solid white;
    border-radius: 23px;
    opacity: 0.5;
}