#filter {
    width: 20%;
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    -webkit-border-radius: 0px;
    border-bottom: 2px solid #d4d4d4;
    -webkit-border-radius: 0px;
    color: #565656;
    padding-left: 9px;
    
}

.section-title {
    // text-transform: capitalize;
}

.local {
    display: inline-block;
} 



.filter-by {
    float: left;
    margin-right: 18px;
    font-size: 14px;
    position: relative;
    top: 8px;
    text-transform: capitalize;
}

.filter-option {
    margin-top: 10px;
}

.filter-submit-btn {
    width: 75px;
    border-radius: 5px;
    margin-left: 9px;
    border: none;
    background: #2eb3df;
    color: #fff;
    padding: 5px;
    display: none;
}
