* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #F45758;
}

.content {
    height: auto;
    .splash-content-outter {
        display: block;
        background: #ffffff52;
        height: 501px;
        width: 90%;
        margin: 0 auto;
        border-radius: 16px;
        position: relative;
        top: 38px;
        .splash-content-inner {
            height: auto;
            min-height: 517px;
            background-color: #fff;
            border-radius: 7px;
            width: 85%;
            margin: 0 auto;
            position: relative;
            bottom: 9px;
            .owl-carousel {
                position: relative;
                text-align: center;
                width: 100%;
                .page-1 {
                   color: #4A6577;
                   width: 100%;
                   .logo {
                        width: 20% !important;
                        margin: 0 auto;
                        padding-top: 63px; 
                   }
                }
                .page-2 {
                    width: 100%;
                    .park {
                        width: 54% !important;
                        margin: 0 auto;
                        padding-top: 63px;
                    }
                    .sign-up-btn {
                        border-radius: 44px;
                        margin-top: 15px;
                        padding: 10px 40px;
                        background-color: #f45758;
                        border: none;
                        color: #fff;
                        font-size: 16px;
                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
                h2 {
                    font-size: 1.238em;
                    text-align: center;
                    margin: 20px 0px;
                    font-family: proxima-semibold;
                    color: #394e5d;
                    display: inline-block;
                    border-bottom: 3px solid #f09a9d;
                    padding-bottom: 13px;
                    
                }
                p {
                    text-align: center;
                    font-size: 0.9em;
                    padding: 0 20px;
                    font-family: proxima-regular;
                    color: #4A6577; 
                }
            }
        }
    }
}

.owl-dot {
    position: relative;
    top: 10px;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #f09a9d;
    }
}

@media only screen and (min-width: 401px) {
    body {
        background-color: #f5cf8e;
    }
}

@media only screen and (min-width: 961px) {
    body {
        background-color: #b2d6ff;
    }
    .owl-dot span{
        display: none !important;
    }
}