@font-face {
    font-family: 'proxima-black';
    src: url('/assets/ProximaNova-Black') format("truetype");
}

@font-face {
    font-family: 'proxima-regular';
    // src: url('/assets/ProximaNova-.otf') format("truetype");
    src: url('/assets/ProximaNova-Regular') format("truetype");
    // src: url('/assets/ProximaNova-LightItalic.otf') format("truetype");
    // src: url('/assets/ProximaNova-Semibold.otf') format("truetype");
    // src: url('/assets/ProximaNova-SemiboldItalic.otf') format("truetype"),
}

.action-content h1  {
    font-family: 'proxima-black';
}

.action-content p {
    font-family: 'proxima-regular';
}

.places .place-card a {
    font-family: 'proxima-black';
}

.relevance {
    background:  grey;
}

.navbar {
    background: red;
}