// @font-face {
//     font-family: 'gilroy';
//     src: url('/assets/Gilroy-Bold.ttf') format("truetype");
//     src: url('/assets/Gilroy-Heavy.ttf') format("truetype");
//     src: url('/assets/Gilroy-Light.ttf') format("truetype");
//     src: url('/assets/Gilroy-Medium.ttf') format("truetype");
//     src: url('/assets/Gilroy-Regular.ttf') format("truetype"),
// }

@font-face {
    font-family: 'proxima-black';
    // src: url('/assets/ProximaNova-Regular.otf') format("truetype");
    src: url('/assets/ProximaNova-Black') format("truetype");
    // src: url('/assets/ProximaNova-LightItalic.otf') format("truetype");
    // src: url('/assets/ProximaNova-Semibold.otf') format("truetype");
    // src: url('/assets/ProximaNova-SemiboldItalic.otf') format("truetype"),
}

@font-face {
    font-family: 'proxima-regular';
    // src: url('/assets/ProximaNova-.otf') format("truetype");
    src: url('/assets/ProximaNova-Regular') format("truetype");
    // src: url('/assets/ProximaNova-LightItalic.otf') format("truetype");
    // src: url('/assets/ProximaNova-Semibold.otf') format("truetype");
    // src: url('/assets/ProximaNova-SemiboldItalic.otf') format("truetype"),
}

.action-content h1  {
    font-family: 'proxima-black';
}

.action-content p {
    font-family: 'proxima-regular';
}

.places .place-card a {
    font-family: 'proxima-black';
}