// .img-hut {
//   float: left;
// }
//
// .place-inner {
//   float: right;
// }

// .recommend {
//   float: right;
// }

.place-inner {
  padding: 24px;
/* display: -webkit-box; */
/* display: flex; */
/* -webkit-box-pack: start; */
/* justify-content: flex-start; */
  .img-hut {
    display: flex;
    justify-content: flex-start;
    .img-main {
      height: 100px;
      width: 100px;
      /* padding-right: 10px; */
      max-height: 155px;
      /* margin-right: 10px; */
      /* max-width: 130px; */
      border-radius: 5px;
      box-sizing: border-box;
      }
    }
  }

.place-description {
  margin-top: 20px;
  /* font-family: proxima-regular; */
  font-size: 17px;
  font-family: 'EB Garamond', serif;
}

.place-image {
  width: 20%;
  height: 61px;
  border-radius: 5px;
  margin-left: 3px;
}

.image-box {
  margin-top: 15px;
}

.score-value {
  float: right;
  font-family: 'proxima-semibold';
  font-size: 23px;
}

.range {
  color: green;
  font-size: 20px;
  position: relative;
  top: 8px;
}
